@model COMP2139_ICE.Areas.ProjectManagement.Models.Project

<div class="text-success small">
    <b>Tasks:</b> @Model.ProjectTasks?.Count() <br />
    <b>Start:</b> @Model.StartDate.ToString("MMM dd, yyyy")
</div>